* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCF1D0;
}
  
a {
    color: white;
    text-decoration: none;
    
}
  

header {
    background-color: #298844;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}

header img {
    margin: 0;
    position: absolute;
    left: 90%;
    transform: translateX(-50%);
    max-width: 25px;
}
  

.hamburger-menu {
    display: flex;
    cursor: pointer;
    padding: 15px;
}
  
.hamburger {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
  
nav ul.menu {
    display: none;
    background-color: #253b2b;
    margin-top: 0;

}
  
nav ul.menu.active {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}
  
nav ul.menu li {
    display: inline-block;
    margin: 10px;
}
  
nav ul.menu li a {
    padding: 10px;
    text-decoration: none;
}


  

main {
    padding: 20px;
    font-family: "Merriweather", serif
}
  
.hero {
    position: relative;
}
  
.hero img {
    max-width: 100%;
    height: auto;
}
  
.hero .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #494242;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-areas: 
      "sidebar"
      "main";
}
.call-to-action {
    text-align: center;
    margin-bottom: 20px;
}
  
.current-events {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    padding: 5px;
}
  
.weather-card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}
  
.spotlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.spotlights h3 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
  
.spotlight img {
    max-width: 100%;
    height: auto;
}
h1{
    text-align: center;
}


footer {
    background-color: #266939;
    color: #ffffff;
    padding: 10px;
}
  
.contact-info {
    margin-bottom: 10px;
    text-align: center;
}
  
.development-info {
    text-align: center;
}
main h3 {
    text-align: center;
    color: #0a1612;
}
figure {
    align-items: center;

}
.image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
h1 {
    text-align: center;
}

form {
    width: 50%;
    margin: 0 auto;
}
.join-container {
  display: grid;
  justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.form-container {
  grid-row: 1;
}
.benefits {
  width: 50%;
  margin: 0 auto;
  grid-row: 2;
}

.benefits h2 {
  margin-top: 0;
}

.benefits h3 {
  margin-top: 20px;
}

.benefits ul {
  margin-bottom: 20px;
}
/*FORMs*/

  .spotlights {
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .spotlight img { 
    padding: 10px;
  }
  h3, h4 {
    color: #113537;
  }
  
  .spotlight {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: span 3;
  }


  .spotlights h3 {
    grid-column-start: 1;
    grid-column-end: span 5;
    text-align: center;
  }

  .spotlight img {
    max-width: 100%;
    height: auto;
  }
  .container {
    display: grid;
    grid-template-areas: 
      "sidebar"
      "main";
  }
label {
    text-align: center;

}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}