@media screen and (min-width: 38rem) {
    .hamburger-menu {
        display: none;
    }
  
    nav ul.menu {
        display: flex;
        justify-content: space-between;
        
    }
  
    nav ul.menu li {
        display: inline-block;
        margin: 10px;
    }
  
    nav ul.menu li a {
        color: #DCF1D0;
        padding: 10px;
        text-decoration: none;
    }
}