body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0d1c9;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color:  #d83385;
    color: #fff;
  }
  
  header img {
    border-radius: 50%;
    max-width: 200px;
    margin-right: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  

  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .hamburger-menu .hamburger {
    width: 100%;
    height: 3px;
    background-color: #9c0d0d;
  }

  nav {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background-color: #ebb2a4;
    padding: 0px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px; 
    flex-grow: 1; 
    text-align: center; 
  }
  
  nav .selected {
    background-color: rgb(35, 5, 41);
  }
  
  nav a:hover {
    background-color: #d83385;
  }
  
  nav .selected a {
    color: #fff;
    padding: 8px 12px;
    border-radius: 0;
  }
  
  
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  section {
    margin-top: -20px;
  }
  .card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card ul {
    list-style: none;
    padding: 0;
  }
  
  .card li {
    margin-bottom: 10px;
  }

  main h2 {
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  main a {
    text-align: left;
    margin-top: -40px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .centerText {
    text-align: center;
  }


  .information {
    text-align: center;
  }

  footer {
    background-color:  #d83385;
    padding: 10px;
    color: #fff;
    text-align: center;
  }


  .container {
    display: none;
  }
  .note-bar {
    height: 40px;
    background-color: rgb(35, 5, 41);
  }

  #mode {
    position: absolute;
    top: .3rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
