:root {
    --primary-color: rgb(35, 5, 41);
    --error-color: #757575;
    --form-spacing: 10px;
}
  
form {
    margin: 0 auto;
    width: 80%;
    padding: 25px;
}
  
  
  label {
    display: block;
    margin-top: var(--form-spacing);
    font-weight: bold;
    color: var(--primary-color);
      
  }
  
  input,
    select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  small {
    font-size: 12px;
    color: #666666;
  }
  
.error-message {
    color: var(--error-color);
    margin-top: 5px;
    display: none;
}
    

  
.form-actions {
    margin-top: 25px;
    text-align: right;
}
  
  .form-actions button {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: #eb6ecb;
    font-size: 17px;
    cursor: pointer;
  }
